// Color
$black: #000 !default;
$red: #E3342F !default;
$orange: #F6993F !default;
$yellow: #FFED4A !default;
$green: #38C172 !default;
$teal: #4DC0B5 !default;
$blue: #3490DC !default;
$indigo: #6574CD !default;
$purple: #9561E2 !default;
$pink: #F66D9B !default;
$white: #fff !default;

$grid-breakpoints: (
  xs: 0,
  md: 600px,
  xl: 1200px
) !default;

$colors: (
  "black": $black,
  "white": $white,
) !default;

// Function contrast color
$contrast-color-threshold: 150 !default;
$contrast-color-text-black: $black !default;
$contrast-color-text-white: $white !default;

// Z-index
$zindex-hidden: -1;
$zindex-backdrop: 1040;
$zindex-modal: 1050;
