// Color
$maroon: #663300 !default;
$black: #000 !default;
$white: #fff !default;

$grid-breakpoints: (
  xs: 0,
  md: 600px,
  xl: 1200px
) !default;

$colors: (
  "maroon": $maroon,
  "black": $black,
  "white": $white,
) !default;

// Function contrast color
$contrast-color-threshold: 150 !default;
$contrast-color-text-black: $black !default;
$contrast-color-text-white: $white !default;

// Z-index
$zindex-hidden: -1;
$zindex-backdrop: 1040;
$zindex-modal: 1050;
