.breadcrumb {
  list-style: none;
  display: flex;
  padding-left: 0;

  .breadcrumb-item {

    &::before {
      content: '-';
      display: inline-block;
      color: $maroon;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .breadcrumb-link {
      color: $maroon;
      text-decoration: none;

      &:hover {
        color: darken($maroon, 10%);
      }
    }

    &:first-child {

      &::before {
        content: unset;
      }
    }

    &:last-child {

      .breadcrumb-link {
        color: #000000;
        pointer-events: none;
      }
    }
  }
}
