.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: auto;
  transition: all 0.25s ease-in;
  transform: translate(-50%, -100%);
  background-color: #ffffff;
  border: 1px solid #e9ecef;
  border-radius: 0.25rem;
  opacity: 0;
  z-index: $zindex-hidden;

  @media screen and (max-width: 600px) {
    width: 100%;
  }

  &.show {
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: $zindex-modal;
  }

  .modal-header {
    position: relative;
    border-bottom: 1px solid #e9ecef;
    padding: 1.25rem;

    .close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: #000000;
      background-color: transparent;
      font-size: 1rem;
      line-height: 1;
      border-width: 0;
      cursor: pointer;

      &:focus {
        outline: unset;
      }
    }
  }

  .modal-content {
    padding: 1.25rem;
  }

  .modal-footer {
    border-top: 1px solid #e9ecef;
    padding: 1.25rem;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: all 0.25s ease-in;
  background-color: transparent;
  z-index: $zindex-hidden;
  cursor: pointer;

  &.show {
    background-color: rgba(#000000, 0.35);
    z-index: $zindex-backdrop;
  }
}
